/* ---------------------- */
/* Custom flexbox classes */
/* ---------------------- */
.dflex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.align-start {
  align-items: start;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-end {
  justify-content: end;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* ------------ */
/* Custom style */
/* ------------ */

body {
    background-color: var(--background-color);
}

nav {
  background-color: var(--background-color);
}

nav a {
    color: var(--primary-inverse);
}

nav a:hover {
  color: var(--primary-hover);
}

nav i.fa-arrow-up-right-from-square {
  font-size: 0.5em;
  vertical-align: middle;
}

header {
  /* background-color: var(--background-color); */
  background: linear-gradient(
    var(--background-color),
    var(--range-border-color)
  );
}
header .banner {
  padding-top: 10vh;
  padding-bottom: 9vh;
  text-align: center;
}
header h1 {
  margin-bottom: 0.5em;
}

footer {
  background-color: var(--background-color);
  text-align: center;
}

/* -------------- */
/* Custom classes */
/* -------------- */
.logos img {
  max-height: 4.5em;
  margin-bottom: 1.5em;
}

.text-center {
  text-align: center;
}

.community-card {
  flex: 1;
  padding: 1em;
  margin: 0 0.5em;
  text-align: center;
}

.community-card h3 {
  margin-bottom: 0;
}
.community-card p {
  margin-bottom: 0.5em;
  }

.community-card img {
  max-width: none;
  height: 10em;
  margin-bottom: 1em;
}

.fa-ul li {
    list-style: none;
}

.theme-bg {
    background-color: var(--background-color);
    padding: 5em 0;
}

button.themeswitch {
    border: 0;
    background-color: inherit;
}

button.themeswitch:focus {
    box-shadow: none;
}

ul.information li {
    margin-bottom: 1em;
}

section h2,
section h3,
section h4 {
    margin-bottom: 0.6em;
}
