<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />

    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->

    <link rel="stylesheet" href="{{ get_url(path="css/pico/pico.css") }}" media="all" />
    <link rel="stylesheet" href="{{ get_url(path="css/fontawesome/css/all.min.css") }}" media="all" />
    <link rel="stylesheet" href="{{ get_url(path="css/style.css") }}" media="all" />
    
    <script defer data-domain="birs-2023.softwareunderground.org" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>

    {% block content %} {% endblock %}

  </body>
  <script src="{{ get_url(path="js/theme-switch.js") }}"></script>
</html>
