<nav class="container-fluid" data-theme="dark" aria-label="Navigation bar">
  <ul aria-label="Local links">
    {% for item in config.extra.navlinks %}
      {%- if not item.is_external -%}
      <li>
        <a href="{{ item.url }}">{{ item.name }}</a>
      </li>
      {%- endif -%}
    {% endfor %}
  </ul>
  <ul aria-label="External links">
    <li aria-label="Theme switcher button">
      <button id="themeSwitcher" class="themeswitch" aria="Toggle theme">
        <i class="fa-solid fa-circle-half-stroke"></i>
      </button>
    </li>
    {% for item in config.extra.navlinks %}
      {%- if item.is_external -%}
      <li>
        <a href="{{ item.url }}">
          {{ item.name }}
          <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i>
        </a>
      </li>
      {%- endif -%}
    {% endfor %}
  </ul>
</nav>
